<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="IngSoftwareBase" connectionString="Data Source=FACUNDO-PC;Initial Catalog=IngSoftwareBase;Integrated Security=True;Encrypt=False" ></add>
		<add name="IngSoftwareNegocio" connectionString="Data Source=FACUNDO-PC;Initial Catalog=[INSERT_BUSINESS_DB_NAME_HERE];Integrated Security=True;Encrypt=False" ></add>
	</connectionStrings>
	<appSettings>
		<add key="LanguagePath" value="Languages\"/>
		<add key="UserLanguageConfigPath" value="LanguageConfig\UserLanguageConfig.txt"/>
	</appSettings>
</configuration>